<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>


<%= @cocktail.name %>

<% @cocktail.ingredients.each do |ingredient| %>
  <%= ingredient.name %>


<% end %>

  <p> <%=link_to "see details", cocktails_path, class: "btn btn-primary" %></p>
